<template>
    <form-wizard title="" subtitle="" @on-complete="onComplete" class="container my-12 mx-auto">
        <tab-content title="Personal details" color="gray" error-color="#a94442" :before-change="validateFirstTab">
            <vue-form-generator
            :model="model" 
            :schema="firstTabSchema"
            :options="formOptions"
            ref="firstTabForm"
            >                      
            </vue-form-generator>
        </tab-content>

        <tab-content title="Additional Info" :before-change="validateSecondTab">
            <vue-form-generator
            :model="model" 
            :schema="secondTabSchema"
            :options="formOptions"
            ref="secondTabForm"
            >                                
            </vue-form-generator>
        </tab-content>

        <tab-content title="Upload files" :before-change="validateSecondTab">
            <Upload />
        </tab-content>

        <tab-content title="Check Info">
            <h4>Your json is ready!</h4>
            <div class="panel-body">
            <pre v-if="model" v-html="prettyJSON(model)"></pre>
            </div>
        </tab-content>

    </form-wizard>
</template>

<script>
import Vue from 'vue'
import VueFormGenerator from "vue-form-generator";
import Upload from './UploadFiles.vue';
Vue.use(VueFormGenerator)
export default {
    name: 'Wizard',
    components: {
        Upload
    },
 data() {
    return {
        model:{
            firstName:'',
            lastName:'',
            email:'',
            streetName:'',
            streetNumber:'',
            city:'',
            country:''
        },
        formOptions: {
            validationErrorClass: "text-red",
            validationSuccessClass: "text-black",
            validateAfterChanged: true
        },
        firstTabSchema:{
            fields:[{
                type: "input",
                inputType: "text",
                label: "First name",
                model: "firstName",
                required:true,
                validator:VueFormGenerator.validators.string,
                styleClasses:'mb-4'
            },
            {
                type: "input",
                inputType: "text",
                label: "Last name",
                model: "lastName",
                required:true,
                validator:VueFormGenerator.validators.string,
                styleClasses:'mb-4'
            },
            {
                type: "input",
                inputType: "text",
                label: "Email",
                model: "email",
                required:true,
                validator:VueFormGenerator.validators.email,
                styleClasses:'mb-4'
            }
        ]
   },
   secondTabSchema:{
        fields:[
            {
                type: "input",
                inputType: "text",
                label: "Street name",
                model: "streetName",
                required:true,
                validator:VueFormGenerator.validators.string,
                styleClasses:'mb-4'
            },
            {
                type: "input",
                inputType: "test",
                label: "Street number",
                model: "streetNumber",
                required:true,
                validator:VueFormGenerator.validators.string,
                styleClasses:'mb-4'
            },
            {
                type: "input",
                inputType: "text",
                label: "City",
                model: "city",
                required:true,
                validator:VueFormGenerator.validators.string,
                styleClasses:'mb-4'
            },
            {
                type: "select",
                label: "Country",
                model: "country",
                required:true,
                validator:VueFormGenerator.validators.string,
                values:['USA','Jordan','Germany'],
                styleClasses:'mb-4'
            },
     ]
   }
 }},

 methods: {
  onComplete: function(){
      alert('Done!');
    },
   validateFirstTab: function(){
     return this.$refs.firstTabForm.validate();
   },
   validateSecondTab: function(){
     return this.$refs.secondTabForm.validate();
   },
   prettyJSON: function(json) {
            if (json) {
                json = JSON.stringify(json, undefined, 4);
                json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE]?\d+)?)/g, function(match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + json + '</span>';
                });
            }
        }
  }
 }
</script>