<template>
    <header class="header">
        <nav class="bg-grey-darkest p-2 mt-0 w-full">
            <div class="container mx-auto flex flex-wrap items-center">
                <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                    <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                        <span class="text-2xl pl-2"> Dareebatech </span>
                    </a>
                </div>
                <NavLinks/>
            </div>
        </nav>
    </header>
</template>

<script>
    import NavLinks from './Nav.vue';
    export default {
        name: 'Header',
        components: {
            NavLinks
        }
    }
</script>