<template>
    <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
        <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
            <li v-for="(link, index) in links" class="mr-3" v-bind:key="index" >
                <a :id="`link-${link.title}`" class="inline-block text-grey-dark no-underline hover:text-grey-lighter hover:text-underline py-2 px-4" href="#">{{link.title}}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'NavLinks',
        data() {
            return{
                links:[
                    {link: '#', title:'Link1'},
                    {link: '#', title:'Link2'},
                    {link: '#', title:'Link3'},
                    {link: '#', title:'Link4'},
                ]
            }
        }
    }
</script>