<template>
  <div id="app">
    <Header/>
    <Wizard/>
  </div>
</template>

<script>
import Header from './components/layout/Header.vue'
import Wizard from './components/form/wizard.vue'

export default {
  name: 'app',
  components: {
    Header,
    Wizard
  }
}

</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
</style>
